.recurringExpenseDiv {
    width: auto;
    height: auto;
    border: solid rgb(0, 175, 0) 2px;
    margin: 20px; 
    padding: 20px;
    border-radius: 10px;
    background-color: lightgreen;
}

.recurringHeader {
    text-align: center;
}

#btnToIndividual {
  
    /* position: absolute; */
    /* top: 20%;
    left: 50%; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 50%;
}