#infoNext {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.personalInput {
    width: 200px;
    text-align: center;
    padding: 10px;
    display: block;
    box-shadow: 2px 2px 5px gray;


}

#personalDiv {
    text-align: center;
}