#title {
    text-align: center;

}

.plusButton {
    /* position: absolute;
    bottom: 0;
    margin-left: 188px;
    margin-bottom: 40px;
    width: 30px;
    height: 30px; */
    margin-top: 30px;

   
}

#recurringNextBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}